@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 6.25%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 16rem;
    background-image: url(./img/endless-constellation.svg);
    background-position: center center;
    background-attachment: fixed;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30rem;
}

form div {
    padding-bottom: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form input {
    padding: 5rem;
    width: 70%;
    border: 1rem solid #550055;
    border-radius: 5rem;
}

button {
    cursor: pointer;
    padding: 5rem 10rem;
    color: whitesmoke;
    background: #550055;
    border: 1rem solid #330033;
    border-radius: 5rem;
    font-weight: bold;
    font-size: 18rem;
    width: 45%;
}

.nav {
    height: 100vh;
    width: 62rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #1F001F;
    border-right: 3rem solid #550055;
    transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}

.expand {
    width: 210rem;
}

.nav ul {
    width: 100%;
    height: 100%;
    list-style: none;
}

.nav ul li {
    padding: 15rem 18rem;
    width: 210rem;
    transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav ul li:hover {
    background: #550055;
}

.nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.but-lateral {
    color: whitesmoke;
    font-size: 30rem;
    width: 100%;
    display: flex;
    justify-content: start;
    transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.but-lateral i {
    width: 64rem;
    padding: 15rem;
}

.but-lateral i:hover {
    background: #550055;
}

.icon {
    font-size: 25rem;
}

.txt {
    padding-left: 35rem;
}

.ativo {
    background: #550055;
}

.butDiv {
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5rem solid #1F001F;
    border-radius: 20rem;
    padding: 30rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20rem;
    background: #550055;
    color: black;
}

.header h1 {
    color: whitesmoke;
    padding-bottom: 10rem;
}

.header p {
    text-align: center;
    color: whitesmoke;
}

.exe {
    background: #1F001F;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20rem;
    color: whitesmoke;
    margin-top: 30rem;
    margin-bottom: 30rem;
    padding: 30rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.exe4 {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30rem;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.exe3 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    width: 60%;
}

.dateExe3 {
    font-weight: bold;
    font-size: 20rem;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.exe2 {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    grid-area: tt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30rem;
    font-size: 40rem;
}

.tb1 {
    grid-area: tb1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 30rem;
    font-size: 20rem;
}

.tb2 {
    grid-area: tb2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30rem;
    font-size: 20rem;
}

.grid1 {
    width: 80%;
    display: grid;
    grid-template-rows: minmax(25%, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "tt tt"
        "tb1 tb2";
}

.form2 {
    width: 70%;
}

.form2 h2 {
    font-size: 30rem;
    font-weight: bold;
    padding-bottom: 30rem;
}

.form2 div {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.resultExe2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.sucessExe2 {
    background: green;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 10rem;
}

.errorExe2 {
    background: red;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 10rem;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.exe1 {
    width: 40%;
}

.form1 div {
    width: 100%;
}

.resultExe1Painel {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}

.resultExe1Painel h3 {
    padding-bottom: 30rem;
}