* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 6.25%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 16rem;
    background-image: url(./img/wallpaperflare.com_wallpaper.jpg);
    background-position: center center;
    background-attachment: fixed;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30rem;
    margin: 39rem;
}

buttom {
    cursor: pointer;
}

form div {
    padding-bottom: 30rem;
}

form input {
    padding: 5rem;
    width: 70%;
    border: 1rem solid #dec129;
    border-radius: 5rem;
}

form div button {
    padding: 5rem 10rem 5rem 10rem;
    color: black;
    background: #dec129;
    border: 1rem solid black;
    border-radius: 5rem;
    font-weight: bold;
    font-size: 18rem;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5rem solid whitesmoke;
    border-radius: 20rem;
    padding: 30rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20rem;
    background: black;
    color: whitesmoke;
}

.nav ul {
    display: flex;
    width: 25%;
    padding-right: 70rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.nav ul a {
    cursor: pointer;
    transition: 400ms all cubic-bezier(0.215, 0.610, 0.355, 1);
    padding-right: 30rem;
}

.nav h1 {
    color: #dec129;
}

.nav ul a:hover {
    color: #dec129;
}

.exe {
    max-width: 1200px;
    margin: 0 auto;
    background: whitesmoke;
    margin-top: 30rem;
    margin-bottom: 30rem;
    border-radius: 20rem;
    padding: 30rem;
}

.title {
    grid-area: tt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30rem;
    font-size: 40rem;
}

.tb1 {
    grid-area: tb1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 30rem;
    font-size: 20rem;
}

.tb2 {
    grid-area: tb2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30rem;
    font-size: 20rem;
}

.form2 {
    width: 70%;
}

.form2 h2 {
    font-size: 30rem;
    font-weight: bold;
    padding-bottom: 30rem;
}

.form2 div {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.resultExe2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.sucessExe2 {
    background: green;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 10rem;
}

.errorExe2 {
    background: red;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 10rem;
}

.grid1 {
    width: 80%;
    display: grid;
    grid-template-rows: minmax(25%, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "tt tt"
        "tb1 tb2";
}

.exe2 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.exe1 div {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.resultExe1 {
    max-width: 900rem;
    margin: 0 auto;
    min-height: 30vh;
    display: flex;
    flex-flow: column;
}